<div class="mat-elevation-z8" style="height: 100vh;">
    <table mat-table [dataSource]="dataSource">

      <!-- Position Column -->
      <ng-container matColumnDef="ticketNumber">
        <th mat-header-cell *matHeaderCellDef> Ticket number </th>
        <td mat-cell *matCellDef="let element"> {{element.ticketNumber}} </td>
      </ng-container>


      <!-- Weight Column -->
      <ng-container matColumnDef="isUsed">
        <th mat-header-cell *matHeaderCellDef> Status</th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button disabled *ngIf="element.active">Ticket utilisée</button>
          <button mat-raised-button color="primary" *ngIf="!element.active">Ticket valide</button>
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="userName">
        <th mat-header-cell *matHeaderCellDef> Username </th>
        <td mat-cell *matCellDef="let element"> {{element.user.username}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="userEmail">
        <th mat-header-cell *matHeaderCellDef> Adresse email </th>
        <td mat-cell *matCellDef="let element"> {{element.user.email}} </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>


    <div class="example-button-container">
      <div class="center">
        <button mat-raised-button color="primary" class="space-evenly center" (click)="addTicketToUser()">Add ticket
        </button>
      </div>
    </div>
</div>
